div.box {
    width: 450px;
    height: 450px;

    margin: 30px;


    background-color: darkcyan;
    box-shadow: 0px 0px 5px black;

    /*
        To turn a block-level element into an inline element requires putting
        inline-block into the display property.

        This can be used to put two divs together in one line while also keeping
        the block-level element properties.
    */
    display: inline-block;
}

div p {
    margin: 0px;
    padding: 50px;
}