/*
    There are three pseudo-classes that allow you to change the appearance
    of elements when a user is interacting with them.

        :hover - applied when a user hovers over an element with a pointing device such
            as a mouse. Commonly used to change the appearance of links and buttons
            when a user places their cursor over them.

        :active - applied when an element is being activated by a user; for example,
            when a button is being pressed or a link being clicked. Something this is
            used to make a button or link feel more like it is being pressed by
            changing the style or position of th element slightly.

        :focus - applied when an element has focus. Any element that you can interact
            with, such as a link you can click on or any form control can have focus.

            Focus occurs when a browser discovers that you are ready to interact with
            an element on the page. It is also possible to use the tab key on your keybaord
            to move through the interactive items on a page.

    NOTE: When psuedo-classes are used they should appear in the following order:
        
        1. :link
        2. :visited
        3. :hover
        4. :focus
        5. :active
*/
body {
    font-family: Georgia, Times, serif;
    font-size: 16px;
}

h2 {
    /* If a font name is more than one word, it should be enclosed in double quotes */
    font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    font-weight: bold;
    
    text-align: center;
}

dl {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

dt {
    text-indent: 1em;
}

dd {
    line-height: 1.7em;
}

dd a {
    color: rgb(98, 95, 255);
    text-decoration: none;
}

dd a:hover {
    color:rgb(255, 95, 228);
    font-size: 1.05em;
    text-decoration: underline;
}

dd a:focus {
    border: 2px solid #94ff29;
    border-radius: 5px;
}

dd a:active {
    border: 1px solid black;
    box-shadow: 0px 1px 3px black;
}