/*
    If there are two or more rules that apply to the same
    element, it is important to understand which will take
    precedence.

        Last Rule:
            If the two selectors are identical, the latter of
            the two will take precedence.

        Specificity:
            If one selector is more specific than the others,
            the more specific rule will take precedence over
            more general ones.
*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

/*
    h1 is more specific than *
*/
h1 {
    font-family: 'Courier New', Courier, monospace;
}

em {
    color: green;
}

/*
    this em is the last em selector, so it is the one that
    is applied
*/
em {
    color: red;
}

b {
    color: pink;
}

/*
    p b is more specific than b, so it takes
    precedence over b.
*/
p b {
    color: blue !important;
}

/*
    Bcause the first p b has the !important modifier,
    it takes precedence even over the this selector.

    !important makes it so that the property should be
    considered more important than other rules that apply
    the same element.
*/
p b {
    color: violet;
}

p #intro {
    font-size: 100%;
}

p {
    font-size: 75%;
}