div.margin {
    width: 300px;
    height: 450px;

    border: 5px solid #cd00cd;
    background-color: royalblue;
}

div.margin p {
    color: white;
    text-align: center;
    background-color: darkcyan;
}

div.margin p.center {
    /*
        If you want to center a box on the page (or center it inside that element that it
        sits in), you can set the left-margin and right-margin to auto.

        In order to center a box on the page, you need to set a width for the box (otherwise
        it will take up the full width of the page).

        Once you have specified the width of the box, setting the left and right margins to
        auto will make the browser put an equal gap on each side of the box. This centers
        the box on the page (or within the element that the box sits inside).

        NOTE: The text-align property is inherited by child elements. You therefore also need
        to specify the text-align property on the centered box if you do not want the text
        inside to be centered.
    */
    width: 75%;
    margin: 40px auto 0 auto;
}

